.add {
    float:right
}

.cart-icon {
    float: right
}

.quantity {
    display: inline-block;
    margin-right: 100px;
}

    .quantity input {
        width: 21px;
        margin-left: 2px;
        margin-right: 2px;
    }
